html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

body {
    font-family: 'Inter', sans-serif;
}

.tabMenu  {
  display: flex;
  width: 1438px;
  height: 84px;
  margin: 0 auto;
}

.mainMenu {
  display: flex;
  margin-left: 149px;
  margin-top: 27px;
  margin-bottom: 27px;
}

.home {
  display: inline;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-decoration: none;
}

.aboutus  {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.classes {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.gallery {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.blog {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.pricing {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.contactContainer {
  display: flex;
  margin-left: 275px;
  margin-top: 27px;
  margin-bottom: 27px;
}

.contactButton {
  display: inline;
  width: 178px;
  height: 44px;
  border: 1px solid #1698DA;
  border-radius: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 500px;
  line-height: 44px;
  text-decoration: none;
}

.mainContainer {
  display: flex;
  width: 1440px;
  height: 700px;
  background: url('../img/Page1.png') no-repeat center;
  background-color: #F1F1F1;
  margin: 0 auto;
  
}

.maintext {
  display: flex;
}

.text1 {
  display: inline-block;
  margin-top: 225px;
  margin-left: 150px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300px;
  line-height: 29px;
}

.slogan {
  display: block;
  margin-left: 150px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.fit {
  color: #1698DA;
}

.text2 {
  display: block;
  margin-left: 150px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  width: 611px;
  height: 58px;
}

.moreInformation {
  display: block;
  width: 178px;
  height: 44px;
  border: 1px solid #1698DA;
  border-radius: 40px;
  text-align: center;
  margin-left: 190px;
  margin-bottom: 236px;
  font-size: 20px;
  font-weight: 500;
  line-height: 44px;
  text-decoration: none;
}

.mainImageContainer {
  display: flex;
}

.mainimg {
  margin-top: 33px;
  margin-right: 150px;
  margin-bottom: 33px;
}

.maincontainer1 {
  display: flex;
  width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.mainpage {
  display: block;
}

.MainsAbout {
  display: inline-block;
  margin-top: 110px;
  margin-left: 150px;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.mainTexti {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-right: 10px;
  margin-bottom: 42px;
  margin-left: 150px;
  width: 570px;
  height: 219px;
}

.MoreReadTwo {
  display: block;
  width: 178px;
  height: 44px;
  border: 1px solid #1698DA;
  border-radius: 40px;
  text-align: center;
  margin-left: 190px;
  font-size: 20px;
  font-weight: 500;
  line-height: 44px;
  text-decoration: none;
}

.mainImage1 {
  display: block;
  margin: 108px 150px 108px 0px;
  width: 560px;
  height: 383.78px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.pageImage {
  display: block;
  margin: 21px 20px 21px 20px;
  width: 520px;
  height: 340.54px;

}

.versions {
  width: 1440px;
  margin: 0 auto;
  background-color: #F1F1F1;
}

.uptext {
  text-align: center;
  margin-bottom: 30px;
}

.ourClasses {
  font-size: 40px;
  line-height: 48px;
  padding-top: 90px;
  margin-bottom: 15px;
  font-weight: 700;
}

.lineball {
  display: flex;
}

.line1 {
  margin-left: 654px;
  margin-right: 10px;
  margin-top: 5px;
  width: 50px;
  height: 3px;
}

.ball {
  margin-right: 10px;
  margin-bottom: 20px;
  width: 13px;
  height: 13px;
}

.line2 {
  margin-top: 5px;
  width: 50px;
  height: 3px;
}

.inform {
  display: inline-block;
  font-size: 24px;
  line-height: 29px;  
  width: 1100px;
  height: 58px;
  text-align: center;
}

.middleimg {
  display: flex;
  width: 1100px;
  margin-left: 150px;
}

.imgpage1 {
  width: 350px;
  height: 200px;
  margin-right: 45px;
}

.imgpage2 {
  width: 350px;
  height: 200px;
  margin-right: 45px;
}

.imgpage3 {
  width: 350px;
  height: 200px;
}

.skillsContainer {
  display: flex;
}


.skill1 {
  width: 350px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  margin-right: 45px;
  margin-left: 150px;
}

.yoga {
  height: 50px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 20px;
  border-bottom: 1px solid #00000040;
}

.sections {
  display: flex;
  width: 350px;
  height: 50px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.man {
  width: 20px;
  height: 20px;
  margin-right: 18px;
}

.names {
  margin-right: 36px;
}

.oclock {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.skill2 {
  width: 350px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  margin-right: 45px;
  margin-bottom: 40px;
}

.skill3 {
  width: 350px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  margin-right: 45px;
}

.buttonClasses {
  display: block;
  width: 270px;
  height: 44px;
  border: 1px solid #1698DA;
  border-radius: 60px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 625px;
}


