html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  a:link, a:visited  {
    text-decoration: none;
  }
  
  a:hover  {
    /* color: inherit; */
    text-decoration: none;
  }

body {
    font-family: 'Inter', sans-serif;
}


.tabMenu  {
  display: flex;
  width: 1438px;
  height: 84px;
  margin: 0 auto;
}

.main-menu {
  display: flex;
  margin: 27px 0 27px 149px;
}

.home {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-decoration: none;
}

.aboutus  {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.classes {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.gallery {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.blog {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.pricing {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.contact-container {
  display: flex;
  margin: 27px 0 27px 275px;
}

.contact-button {
  display: inline;
  width: 178px;
  height: 44px;
  border: 1px solid #1698DA;
  border-radius: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 500px;
  line-height: 44px;
  text-decoration: none;
}

.main-container {
  display: flex;
  width: 1440px;
  height: 700px;
  background: url('../img/Page1.png') no-repeat center;
  background-color: #F1F1F1;
  margin: 0 auto;
  
}

.maintext {
  display: flex;
}

.text1 {
  display: inline-block;
  margin: 225px 0 10px 150px;
  font-size: 24px;
  font-weight: 300px;
  line-height: 29px;
}

.slogan {
  display: block;
  margin: 0 0 30px 150px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.fit {
  color: #1698DA;
}

.text2 {
  display: block;
  margin: 0 0 40px 150px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  width: 611px;
  height: 58px;
}

.more-information {
  display: block;
  width: 178px;
  height: 44px;
  border: 1px solid #1698DA;
  border-radius: 40px;
  text-align: center;
  margin: 0 0 190px 236px;
  font-size: 20px;
  font-weight: 500;
  line-height: 44px;
  text-decoration: none;
}

.mainImageContainer {
  display: flex;
}

.mainimg {
  margin: 33px 150px 33px 0;
}

.main-container1 {
  display: flex;
  width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.main-page {
  display: block;
}

.mains-about {
  display: inline-block;
  margin: 110px 0 32px 150px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.main-texti {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0 10px 42px 150px;
  width: 570px;
  height: 219px;
}

.more-read-two {
  display: block;
  width: 178px;
  height: 44px;
  border: 1px solid #1698DA;
  border-radius: 40px;
  text-align: center;
  margin-left: 190px;
  font-size: 20px;
  font-weight: 500;
  line-height: 44px;
  text-decoration: none;
}

.main-image1 {
  display: block;
  margin: 108px 150px 108px 0px;
  width: 560px;
  height: 383.78px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.page-image {
  display: block;
  margin: 21px 20px 21px 20px;
  width: 520px;
  height: 340.54px;

}

.versions {
  width: 1440px;
  margin: 0 auto;
  background-color: #F1F1F1;
  padding-bottom: 67px;
}

.uptext {
  text-align: center;
  margin-bottom: 30px;
}

.our-classes {
  font-size: 40px;
  line-height: 48px;
  padding-top: 90px;
  margin-bottom: 15px;
  font-weight: 700;
}

.lineball {
  display: flex;
}

.line1 {
  margin: 5px 10px 0 654px;
  width: 50px;
  height: 3px;
}

.ball {
  margin: 0 10px 20px 0;
  width: 13px;
  height: 13px;
}

.line2 {
  margin-top: 5px;
  width: 50px;
  height: 3px;
}

.inform {
  display: inline-block;
  font-size: 24px;
  line-height: 29px;  
  width: 1100px;
  height: 58px;
  text-align: center;
}

.middle-img {
  display: flex;
  width: 1100px;
  margin-left: 150px;
}

.imgpage {
  width: 350px;
  height: 200px;
  margin-right: 45px;
}


.skills-container {
  display: flex;
}


.skill1 {
  width: 350px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  margin: 0 45px 0 150px;
}

.yoga {
  height: 50px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 20px;
  border-bottom: 1px solid #00000040;
}

.sections {
  display: flex;
  width: 350px;
  height: 50px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.man {
  width: 20px;
  height: 20px;
  margin-right: 18px;
}

.names {
  margin-right: 36px;
}

.oclock {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.skill2 {
  width: 350px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  margin: 0 45px 40px 0;
}

.skill3 {
  width: 350px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  margin-right: 45px;
}

.button-classes {
  display: block;
  width: 270px;
  height: 44px;
  border: 1px solid #1698DA;
  border-radius: 60px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 590px;
}

.timetable {  
  width: 1440px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-bottom: 50px;
}

.timeison {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  width: 1096px;
  height: 50px;
  margin-left: 170px;
  border: 1px solid #00000080;
}

.week1 {
  margin: 0 84px 0 41px;
}

.week2 {
  margin: 0 69px 0 0;
}

.week3 {
  margin: 0 53px 0 0;
}

.week4 {
  margin: 0 48px 0 0;
}

.week5 {
  margin: 0 72px 0 0;
}

.week6 {
  margin: 0 75px 0 0;
}

.week7 {
  margin: 0 68px 0 0;
}

.morning-container {
  display: flex;
  margin-left: 170px;
  width: 1096px;
  border: 1px solid #000000 50%;
}

.timing {
  width: 137px;
  height: 137px;
  font-weight: 400;
  font-size: 18px;
  line-height: 137px;   
  text-align: center; 
  border: 0.5px solid rgba(0.5, 0, 0, 0.5);
  
}

.time-exercise {
  width: 137px;
  height: 137px;
  text-align: center;
  border: 0.5px solid rgba(0.5, 0, 0, 0.5);
  background-color: #8C9EDB;
}


.exercise1 {
  font-weight: 600;
  font-size: 18px;
  margin: 36px 35px 10px 33px;
}

.exercise2 {
  margin: 0 47px 10px 47px;
}

.exercise3 {
  font-size: 14px;
}

.afternoon-container {
  display: flex;
  margin-left: 170px;
  width: 1096px;
  border: 1px solid #000000 50%;
}

.time-karate  {
  width: 137px;
  height: 137px;
  text-align: center;
  border: 0.5px solid rgba(0.5, 0, 0, 0.5);
  background-color: #F76C73;
}

.evening-container {
  display: flex;
  margin-left: 170px;
  width: 1096px;
  border: 1px solid #000000 50%;
}

.time-yoga {
  width: 137px;
  height: 137px;
  text-align: center;
  border: 0.5px solid rgba(0.5, 0, 0, 0.5);
  background-color: #DBAADD;
}

.trainer-container {
  width: 1440px;
  margin: 0 auto;
  background-color: #F1F1F1;
  padding-bottom: 50px;
}

.trainers {
  width: 360px;
  height: 300px;
  margin-right: 45px;
}

.gallery-container {
  width: 1440px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.our-gallery {
  font-size: 40px;
  line-height: 48px;
  padding-top: 80px;
  margin-bottom: 15px;
  font-weight: 700;
}

.gallery-img {
  width: 368px;
  height: 300px;
  margin: 0 20px 20px 0;
}



.bloggercontainer {
  display: flex;
  width: 1150px;
  margin: 0 auto;
}

.blogger {
  display: flex;
  margin-left: 20px;
}

.bloggerimg {
  width: 200px;
  height: 281px;
}

.blogger-info {
  width: 350px;
  height: 230px;
  background-color: #fff; 
  margin: 25px 40px 66px 0;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.10);
}

.info-blogup {
  font-weight: 600;
  font-size: 20px;
  margin: 30px 0 11px 20px;
}

.info-blog1 {
  width: 310px;
  font-weight: 200;
  font-size: 20px;
  margin: 0 0 11px 20px;
}

.info-blog2 {
  width: 310px;
  height: 65px;
  font-weight: 300;
  font-size: 24px;
  margin: 0 0 11px 20px;
}

.info-blogdown {
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 15px 20px;
  text-decoration: none;
}

.blog-container {
  width: 1440px;
  margin: 0 auto;
  background-color: #F1F1F1;
}


.time-table {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  border: 1px double black; /* Рамка вокруг таблицы */
  border-collapse: collapse;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

td {
  width: 137px;
  height: 137px;
  border: 1px solid black;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.thead  {
  width: 1100px;
  height: 50px;
}

.bg-blue {
  background-color: #8C9EDB;
  color: #ffffff;
}

 .bg-red {
  background-color: #F76C73;
  color: #ffffff;
 }

 .bg-purple {
  background-color: #DBAADD;
  color: #ffffff;
 }

 .table-top {
  font-size: 18px;
  line-height: 25px;
 }

 .table-midle{
  font-size: 16px;
  line-height: 25px;
 }

 .table-bot {
  font-size: 14px;
  line-height: 25px;
 }

 .price-container {
  width: 1440px;
  margin: 0 auto;
}

.price-main {
  display: flex;
}

.prices1 {
  margin: 0 30px 71px 150px;
  width: 360px;
  height: 620px;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25), 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.pluses {
  height: 104px;
  font-weight: 400;
  font-size: 24px;
  line-height: 104px;
  text-align: center;
  background-color: #F1F1F1;
}

.sell-container {
  display: flex;
  align-items: center;
  height: 104px;
  font-weight: 400;
  font-size: 24px;
  line-height: 104px;
}

.sellprice1 {
  margin-left: 95px;
  font-weight: 400;
  font-size: 55px;
  line-height: 67px;
  color: #696969;
}

.sellprice2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #696969;
  margin-top: 25px;
}

.often {
  height: 104px;
  font-weight: 300;
  font-size: 20px;
  line-height: 104px;
  text-align: center;
  background-color: #F1F1F1;
  border: 1px solid rgba(0, 0, 0, 5%);


}

.button-buy {
  position: relative;
  margin-top: -22px;
  display: block;
  margin-left: 105px;
  width: 150px;
  background: #F1F1F1;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.prices2 {
  margin: 0 30px 71px 0;
  width: 360px;
  height: 620px;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25), 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.testimonies-container {
  width: 1440px;
  height: 650px;
  margin: 0 auto;
  background-color: #F1F1F1;
}

.marks-box {
  width: 164px;
  height: 164px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 64px;
}

.marks {
  position: relative;
  display: block;
  width: 62px;
  margin-left: 50px;
  padding: 60px 0 60px 0;
}

.testimonies-box {
  width: 1100px;
  height: 253px;
  background-color: #fff;
  margin-left: -80px;
  padding-bottom: 50px;
  padding-left: -50px;
  margin-top: 70px;
}

.testimonies-main {
  padding-top: 50px;
  margin: 0 0 10px 80px;
  width: 980px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.marks-box {
  display: flex;
  margin-left: 82px;
}

.signa {
  align-items: center;
  margin: 0 0 10px 487px;
}

.ceo {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.marks-container {
  display: flex;
}







