html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

body {
    font-family: 'Inter', sans-serif;
}

.tabMenu  {
  display: flex;
  width: 1438px;
  height: 84px;
  margin: 0 auto;
}

.main-menu {
  display: flex;
  margin: 27px 0 27px 149px;
}

.home {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-decoration: none;
}

.aboutus  {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.classes {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.gallery {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.blog {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.pricing {
  display: inline;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-decoration: none;
  margin-left: 50px;
}

.contact-container {
  display: flex;
  margin: 27px 0 27px 275px;
}

.contact-button {
  display: inline;
  width: 178px;
  height: 44px;
  border: 1px solid #1698DA;
  border-radius: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 500px;
  line-height: 44px;
  text-decoration: none;
}

.main-container {
  display: flex;
  width: 1440px;
  height: 700px;
  background: url('../img/Page1.png') no-repeat center;
  background-color: #F1F1F1;
  margin: 0 auto;
  
}

.maintext {
  display: flex;
}

.text1 {
  display: inline-block;
  margin: 225px 0 10px 150px;
  font-size: 24px;
  font-weight: 300px;
  line-height: 29px;
}

.slogan {
  display: block;
  margin: 0 0 30px 150px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.fit {
  color: #1698DA;
}

.text2 {
  display: block;
  margin: 0 0 40px 150px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  width: 611px;
  height: 58px;
}

.more-information {
  display: block;
  width: 178px;
  height: 44px;
  border: 1px solid #1698DA;
  border-radius: 40px;
  text-align: center;
  margin: 0 0 190px 236px;
  font-size: 20px;
  font-weight: 500;
  line-height: 44px;
  text-decoration: none;
}

.mainImageContainer {
  display: flex;
}

.mainimg {
  margin: 33px 150px 33px 0;
}

.main-container1 {
  display: flex;
  width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.main-page {
  display: block;
}

.mains-about {
  display: inline-block;
  margin: 110px 0 32px 150px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.main-texti {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0 10px 42px 150px;
  width: 570px;
  height: 219px;
}

.more-read-two {
  display: block;
  width: 178px;
  height: 44px;
  border: 1px solid #1698DA;
  border-radius: 40px;
  text-align: center;
  margin-left: 190px;
  font-size: 20px;
  font-weight: 500;
  line-height: 44px;
  text-decoration: none;
}

.main-image1 {
  display: block;
  margin: 108px 150px 108px 0px;
  width: 560px;
  height: 383.78px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.page-image {
  display: block;
  margin: 21px 20px 21px 20px;
  width: 520px;
  height: 340.54px;

}

.versions {
  width: 1440px;
  margin: 0 auto;
  background-color: #F1F1F1;
}

.uptext {
  text-align: center;
  margin-bottom: 30px;
}

.our-classes {
  font-size: 40px;
  line-height: 48px;
  padding-top: 90px;
  margin-bottom: 15px;
  font-weight: 700;
}

.lineball {
  display: flex;
}

.line1 {
  margin: 5px 10px 0 654px;
  width: 50px;
  height: 3px;
}

.ball {
  margin: 0 10px 20px 0;
  width: 13px;
  height: 13px;
}

.line2 {
  margin-top: 5px;
  width: 50px;
  height: 3px;
}

.inform {
  display: inline-block;
  font-size: 24px;
  line-height: 29px;  
  width: 1100px;
  height: 58px;
  text-align: center;
}

.middle-img {
  display: flex;
  width: 1100px;
  margin-left: 150px;
}

.imgpage {
  width: 350px;
  height: 200px;
  margin-right: 45px;
}


.skills-container {
  display: flex;
}


.skill1 {
  width: 350px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  margin: 0 45px 0 150px;
}

.yoga {
  height: 50px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 20px;
  border-bottom: 1px solid #00000040;
}

.sections {
  display: flex;
  width: 350px;
  height: 50px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.man {
  width: 20px;
  height: 20px;
  margin-right: 18px;
}

.names {
  margin-right: 36px;
}

.oclock {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.skill2 {
  width: 350px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  margin: 0 45px 40px 0;
}

.skill3 {
  width: 350px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  margin-right: 45px;
}

.button-classes {
  display: block;
  width: 270px;
  height: 44px;
  border: 1px solid #1698DA;
  border-radius: 60px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 625px;
}


